*{
    padding: 0em;
    margin: 0em;
    color: rgb(7, 7, 7);
    text-decoration: none
}

body{
    padding: 0em;
    margin: 0em;
}
.maiin{
    background-image: url("fondo2.png");
    background-position: center;
    margin: 0em;
    padding: 1.25em;
    
}
.menu{
    background: var(--amarillo);
}
.menu{
    width: 100%;
    height: 100%;
    padding: 0em;
    margin: 0em;
}
.menu{
    padding: 0em;
    list-style: none;
}
.lista{
    display: flex;
    width: 100%;
    text-align: center;
    justify-items: center;
    margin: 0em;
    padding: 1.25em;
}
.ListaMenu{ 
    display: flex ;
    width: 100%;
    justify-content: center;
    font-family: consolas;
}
.ull{
    margin-block-end: 0em;
    margin-block-start: 0em;
}
.title{
    text-align: center;
    margin-left: auto;
    margin-right:auto ;
    padding-top: 1.25em;
    margin-top: 0em;
    letter-spacing: 0.188em;
}
.children-title{
    text-align: center;
}
.titlee{
    display: block;
    font-size: 2.25em;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0em;
    background-color: rgb(59, 186, 20);
}
.principal{
    display: block;
    justify-content: center;
    
}
.hr{
    border: 0em solid rgb(0, 0, 0);
    padding: 1.875em;
    width: 100%;
}
.title-elements{
    text-align: center;
    padding: 0.625em;
    padding-bottom: 2.5em;
}
.elements-parents{
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(19, 88, 19);
    display: flex;
    padding-top: 0.625em;
    justify-content: space-around;
}
.elements-children{
    width: 25%;
    border-radius: 0.625em;
    margin-bottom: 1.875em;
}
.elements-children{
    background: var(--amarillo);
}
.elements{
    margin: 0.625em;
    font-size: 1.563em;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.563em;
    margin-bottom: 1.875em;
}
.img-elements{
    margin-top: 0em;
    margin-bottom: 0em;
    width:100%;
    border-radius: 0.938em;
}
@media (width < 57.5em ){
.elements{
    margin: 0.625em;
    font-size: 1.25em;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.563em;
    margin-bottom: 1.875em;
}
}
@media (width < 47.5em ){
.elements{
    margin: 0.625em;
    font-size: 1em;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.563em;
    margin-bottom: 1.875em;
}
}
@media (width < 43.75em ) {
.elements{
    margin: 0.625em;
    font-size: 0.625em;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.563em;
    margin-bottom: 1.875em;
}
}
@media (width < 28.125em){
.titlee{
    display: block;
    font-size: 1.25em;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0em;
    background-color: rgb(59, 186, 20);
}
.elements{
    margin: 0.625em;
    font-size: 0.5em;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.563em;
    margin-bottom: 1.875em;
}
@media (width < 24.375em ) {
.elements{
    margin: 0.625em;
    font-size: 0.438em;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.563em;
    margin-bottom: 1.875em;
}
}
}
:root{
    --amarillo:rgb(226, 226, 82);
}
.contactame{
    justify-content: end;
}