*{
    padding: 0em;
    margin: 0em;
    color: rgb(7, 7, 7);
    text-decoration: none
}
body{
    padding: 0em;
    margin: 0em;
}
.maiin{
    background-image: url("../fondo2.png");
    background-position: center;
    margin: 0em;
    padding: 1.25em;
    
}
.menu{
    background: var(--amarillo);
}
.menu{
    width: 100%;
    height: 100%;
    padding: 0em;
    margin: 0em;
}
.menu{
    padding: 0em;
    list-style: none;
}
.lista{
    display: flex;
    width: 100%;
    text-align: center;
    justify-items: center;
    margin: 0em;
    padding: 1.25em;
}
.ListaMenu{ 
    display: flex ;
    width: 100%;
    justify-content: center;
    font-family: consolas;
}
.ull{
    margin-block-end: 0em;
    margin-block-start: 0em;
}
.title{
    text-align: center;
    margin-left: auto;
    margin-right:auto ;
    padding-top: 1.25em;
    margin-top: 0em;
    letter-spacing:0.188em;
}
.children-title{
    text-align: center;
}
.titlee{
    display: block;
    font-size: 2.5em;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0em;
    background-color: rgb(59, 186, 20);
}
.principal{
    display: block;
    justify-content: center;
    
}
.hr{
    border: 0px solid rgb(0, 0, 0);
    padding: 30px;
    width: 100%;
}
.title-elements{
    text-align: center;
    padding-bottom:1.875em;
}
.elements-parents{
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(19, 88, 19);
    display: flex;
    padding-top: 0.625em;
    justify-content: space-around;
}
.elements-children{
    width: 25%;
    border-radius:0.625em;
    margin-bottom: 1.875em;
}
.elements-children{
    background: var(--amarillo);
}
.elements{
    margin: 0.625em;
    font-size: 1.563em;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.563em;
    margin-bottom: 1.875;
}
.img-elements{
    margin-top: 0em;
    margin-bottom:0em;
    width:100%;
    border-radius: 0.938em;
}
:root{
    --amarillo:rgb(226, 226, 82);
    --verde: rgb(59, 186, 20);
}
.text-input{
    margin: 1.25em;
    font-size: 1.563em;
}
.input{
    width: 60%;
    height: 1.25em;
    margin: 0.313em;
    margin-bottom: 1.25em;
}
.input-parents{
    width: 80%;
    background: var(--amarillo);
    border-radius: 0.625em;
    margin:1.25em;
}
.text-result{
    font-size: 1.25em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}
.table{
    width: 100%;
    border: 0.188em solid black;
    text-align: center;
    margin-bottom: 1.875em;
}
td{
    border: 0.125em solid black;
    font-size: 1.25em;
}
table,td,th{
    border-collapse: collapse;
    padding: 0.313em;
}
th{
    color: rgb(184, 37, 37);
}
.button{
    width: 10%;
    background:var(--verde) ;
    border-color: var(--verde);
}
@media (width < 43.75em ) {
.elements{
    margin: 0.625em;
    font-size: 0.625em;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.563em;
    margin-bottom: 1.875em;
    
}
.input{
    width: 70%;
    height:1.25em;
    margin: 0.313em;
    margin-bottom: 1.25em;
}
.button{
    width: 20%;
    background:var(--verde) ;
    border-color: var(--verde);
}
}
@media (width <28.125em){
.titlee{
    display: block;
    font-size: 1.25em;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0em;
    background-color: var(--verde);
}
.elements{
    margin: 0.625em;
    font-size: 0.5em;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.563em;
    margin-bottom: 1.875em;
}
.input{
    width: 60%;
    height: 1.25em;
    margin: 0.313em;
    margin-bottom: 1.25em;
}
.button{
    width: 30%;
    background:var(--verde) ;
    border-color: var(--verde);
}
}
.contactame{
    justify-content: end;
}